.ItemToEach {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    animation: fadeIn 0.9s ease-in-out forwards; 
}
.eachitem_{
    animation: fadeIn 0.9s ease-in-out forwards; 
}
.ItemsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

.img_of {
    object-fit: cover; 
}
.Link_toMore {
    display: inline-block;
   margin-top: 5px;
    padding:6px;
    background-color: #4CAF50;
    color: white; 
    text-decoration: none; 
    border-radius: 20px; 
    transition: opacity 0.3s; 
}
.Link_toMore:hover {
    opacity: 0.8; 
}
.favorButton{
    display: inline-block;
    width: 100px;
    height: 70px;
    background-color: #63c666; 
    color: white;
    text-decoration: none; 
    border-radius: 20px; 
    transition: opacity 0.3s; 
}
.favorButton:hover{
    opacity: 0.8;
    transition: 0.4s ease;
}
.favorButton2{
    display: inline-block;
    width: 100px;
    height: 70px;
    background-color: #b93740; 
    color: white; 
    text-decoration: none; 
    border-radius: 20px; 
    transition: opacity 0.3s; 
}
.Nofavoried{
    animation:AppearIn 2s ease-in-out;
    
}
.ErrorMsg{
    font-weight: bolder;
    color:red;
    font-size: xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.NoFavDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chef_pic{
    object-fit: cover;
    width: 100px;
}
.title_page{
    display: flex;align-items: center;
}
.title_page:hover{
    cursor: pointer;
}
.FavItemadded{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50; 
    color: white;
    border: 2px solid #388e3c;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.6s ease-in-out forwards; 

}
.FavItemRemove{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #c72e2e; 
    color: white;
    border: 2px solid #c90c29;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 999; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    animation: fadeIn 0.6s ease-in-out forwards; 
}
@keyframes fadeIn {
    0% {
        transform: translateY(-50px); 
    }
    100% {
        transform: translateY(0);
    }
  }
  
.chef_pic_real{
    object-fit: cover;
    animation:AppearIn 2s ease-in-out;
    margin: 10px;
    width: 500px;
}

@keyframes AppearIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%; 
    }
  }


.Search_Eng{
    display:flex;
    align-items: center;
    
}
.Search_icon:hover{
    cursor: pointer;
    opacity: 0.8;

    transition: 0.5s ease-in-out;
}